/*.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.about__pretitle {
    font-family: Titan One;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.14;
    color: rgb(255, 165, 186);
}

.about__title {
    font-family: Titan One;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.14;
    color: rgb(212, 20, 67);
}

